// PAGINA PER MODIFICHE GENERALI SU TUTTA L'APPLICAZIONE.
// Vengono inserite le funzionalità di reset, dimensione immagini ecc

//RESET
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

// FONT
body {
    font-family: sans-serif;
}