// PAGINA PER LE IMPOSTAZIONI GENERALI SU TUTTA L'APPLICAZIONE.
// Vengono inserite delle impostazioni (ad esempio un flex, grid ecc) che possono essere utilizzate in tutti i componenti

// ES di mixin -> FLEX

// Questa propietà può essere richiamata in un component tramite @include nome proprità (in questo caso flex) e gli attributi che si vogliono dentro parentesi tonde(es: row, center, center)  

@mixin flex($direction, $justify-content, $align-items) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
}
